<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>ERP Admin Portal</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Premium version</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Client Requests</a>
      <a mat-list-item href="#">Onboard Clients</a>
      <a mat-list-item href="#">Cancellations</a>
      <a mat-list-item href="#">Expired Clients</a>
      <a mat-list-item href="#">Billing</a>
      <a mat-list-item href="#">Reactivation</a>
      <a mat-list-item href="#">Archived</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
