<h2>User information</h2>
<ng-container *ngIf="userProfile">
  <mat-list>
    <mat-list-item *ngIf="userProfile.username">
      <span matLine>Username</span>
      <span matLine>{{ userProfile.username }}</span>
    </mat-list-item>
    <mat-list-item *ngIf="userProfile.firstName">
      <span matLine>First name</span>
      <span matLine>{{ userProfile.firstName }}</span>
    </mat-list-item>
    <mat-list-item *ngIf="userProfile.lastName">
      <span matLine>First name</span>
      <span matLine>{{ userProfile.lastName }}</span>
    </mat-list-item>
    <mat-list-item *ngIf="userProfile.email">
      <span matLine>E-mail</span>
      <span matLine>{{ userProfile.email }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matLine>E-mail verified</span>
      <span matLine>{{ userProfile.emailVerified ? 'Yes' : 'No' }}</span>
    </mat-list-item>
  </mat-list>
  
  <button mat-flat-button color="primary" (click)="logout()">Log out</button>
</ng-container>